/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #214284;
  --ifm-color-primary-dark: #1d3976;
  --ifm-color-primary-darker: #1a336d;
  --ifm-color-primary-darkest: #142857;
  --ifm-color-primary-light: #295099;
  --ifm-color-primary-lighter: #2f58a6;
  --ifm-color-primary-lightest: #3b6bbf;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5a7dc7;
  --ifm-color-primary-dark: #4f70b8;
  --ifm-color-primary-darker: #4967a9;
  --ifm-color-primary-darkest: #3d5790;
  --ifm-color-primary-light: #6f8fd4;
  --ifm-color-primary-lighter: #7796d8;
  --ifm-color-primary-lightest: #8aa7e0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
